.container-fluid{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:30px;
    padding-bottom:30px;
}

.form-container{
    display:flex;
    flex-direction:column;
    width:448px;
    height:392px;
    justify-content:center;
    align-items:center;
    background-color: #343434;
    border-radius:20px;
    padding:10px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-control {
    height: 42px;
    width:300px;
    padding: 5px;
    background-color: #343434;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    border-radius: 24px;
    color: #94a3b8;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 42px;
    outline: none;
}

label {
    color: #bebebe;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 20px;
}

.my-submit{
    margin-top: 20px;
    cursor: pointer;
    width: 300px;
    height: 48px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #a9a9a9;
    color: #161616;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 24px;
    outline: none;
}

@media(max-height:680px)
{
    .form-container {
        height: 320px !important;
    }

    .my-submit {
        height: 40px;
    }

    .my-control {
        height: 40px;
    }
}
@media(min-width:1501px) {
    .form-container {
        height: 700px;
        width: 900px;
    }

    .my-submit {
        height:70px;
        width: 400px;
    }

    .my-control {
        height:70px;
        width: 400px;
    }
}

@media(max-width:1500px)
{
    .form-container{
        height:500px;
        width:600px;
    }

    .my-submit {
        width: 300px;
    }

    .my-control {
        width: 300px;
    }
}

@media (max-width:350px)
{
    .my-submit {
        width: 200px;
    }
    .my-control {
        width: 200px;
    }
}

@media (max-width:210px) {
    .my-submit {
        width: 150px;
    }
    .my-control {
        width: 150px;
    }
}