html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #161616;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height:100vh;
}

.header {
    height: 70px;
    background-color: #1f1f1f;
    color: white;
    position: relative;
    z-index: 1000;
}

.content {
    flex: 1;
    padding-bottom: 70px;
    overflow-y: auto;
    display:flex;
    flex-direction:column;
}

.footer {
    height: 70px;
    text-align: center;
    background-color: #1f1f1f;
    width: 100%;
}



.text-header {
    color: #ffffff;
    font-size: 24px;
    font-family: "Source Sans 3";
    letter-spacing: -0.6px;
    line-height: 32px;
}

.icon {
    color: #ffffff;
    fill: #ffffff;
    font-size: 45px;
    width: 45px;
    height: 40px;
    margin-right:10px;
}

a {
    color: #bebebe;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 20px;
    text-decoration:none;
}

a:hover{
    cursor:pointer;
}

.footer-text{
  color: #ffffff;
  font-size: 14px;
  font-family: "Source Sans 3";
  line-height: 20px;
}

.navbar-collapse
{
    background-color:#1f1f1f;
    transition:none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border: none;
    background-color: transparent;
}

