<div class="container">
    <div class="text-center mt-3 mb-3"><h2 class="text-center">Zghurskyi Vladyslav</h2></div>
    <div class="mb-2">
        <p>
            I’m a .NET developer with a solid background in building backend systems using C#, .NET, MSSQL, and SignalR. 
            I strive to write clean and efficient code while tackling various challenges. My experience includes 
            developing REST APIs, working with databases, and integrating different services. <br /><br />

            I’m eager to apply my skills in a .NET Developer role where I can continue learning and contribute to 
            innovative projects. I’m excited about opportunities that allow me to grow within a dynamic and supportive 
            team and am ready to take on new challenges as I advance in my career.
        </p>
    </div>
    <hr />
    <div>
        <p class="">
            Jestem programistą .NET z doświadczeniem w tworzeniu systemów backendowych przy użyciu C#, .NET, MSSQL i 
            SignalR. Staram się pisać czysty i efektywny kod, rozwiązując różne wyzwania. Mam doświadczenie w tworzeniu 
            interfejsów REST APIs, pracy z bazami danych oraz integracji różnych usług.<br /><br />

            Chciałbym wykorzystać swoje umiejętności w roli programisty .NET, gdzie mogę dalej się uczyć i przyczynić się 
            do innowacyjnych projektów. Cieszy mnie możliwość rozwoju w dynamicznym i wspierającym zespole. Jestem gotów 
            na nowe wyzwania i rozwój jako programista.
        </p>
    </div>
</div>