<link rel="stylesheet" href="~/css/AddChat_styles.css"/>
<form method="post" asp-controller="Chat" asp-action="AddChat">
    <input class="my-control" type="text" name="username" placeholder="Enter username..."/>
    <input class="my-submit" type="submit" value="Add"/>
</form>